.users {
  border: 1px solid rgba(51,51,51, 0.25);
  background: white;
  border-radius: 3px;
}

.user {
  padding: 1em;
}

.user:not(:last-of-type) {
  border-bottom: 1px solid rgba(51,51,51, 0.25);
}

.icon-person {
  line-height: 0;
  vertical-align: sub;
}